{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container vh-100 d-flex align-items-center justify-content-center">
        <form class="needs-validation auth-form" method="post" novalidate>
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label">Email</label>
                    {{ form.username }}
                    <div class="invalid-feedback">
                        Обязательное поле!
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label class="form-label">Пароль</label>
                    {{ form.password }}
                    <div class="invalid-feedback">
                        Обязательное поле!
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col error-feedback">
                     {{ form.non_field_errors }}
                </div>
            </div>
            <div class="row">
                <div class="col d-flex align-items-center justify-content-around">
                    <button name="login" type="submit" class="btn btn-success">Войти</button>
                    <a href="{% url 'registration' %}">Регистрация</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}