{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container vh-100 d-flex align-items-center justify-content-center">
        <form class="needs-validation" method="post" novalidate>
            {% csrf_token %}
            <div class="row-1">
                <div class="col mb-3">
                    {{ form.old_password }}
                    <div class="invalid-feedback">
                        Обязательное поле!
                    </div>
                </div>
                <div class="col mb-3 error-feedback">
                     {{ form.old_password.errors }}
                </div>
                <div class="col mb-3">
                    {{ form.new_password1 }}
                    <div class="invalid-feedback">
                        Обязательное поле!
                    </div>
                </div>
                <div class="col mb-3">
                    {{ form.new_password2 }}
                    <div class="invalid-feedback">
                        Обязательное поле!
                    </div>
                </div>
                <div class="col mb-3 error-feedback">
                     {{ form.new_password2.errors }}
                </div>
                <div class="col d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}