{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="form-wrap">
            <form class="needs-validation" method="post" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col-6 mb-3">
                        <label class="form-label">От кого</label>
                        {{ form.name_from }}
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label">Кому</label>
                        {{ form.name_to }}
                        <div class="invalid-feedback">
                            Обязательное поле.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 mb-3">
                        <label class="form-label">Дата отправки</label>
                        {{ form.send_date }}
                        <div class="invalid-feedback">
                            Обязательное поле.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 mb-3">
                        <label class="form-label">Адрес получателя</label>
                        {{ form.address }}
                        <div class="invalid-feedback">
                            Обязательное поле.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7 mb-3">
                        <label class="form-label">Email получателя</label>
                        {{ form.email }}
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Текст письма</label>
                        {{ form.text }}
                        <div class="invalid-feedback">
                            Обязательное поле.
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto mb-3">
                        {{ form.captcha }}
                        <div class="mt-1 text-danger">
                            {{ form.captcha.errors }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}