@import url('/static/custom_users/css/custom_users.css');

.error-feedback {
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.form-wrap {
    margin-top: 50px;
    width: 70%;
    border-radius: 15px;
    padding: 10px;
}

.form-wrap form button {
    width: 50%;
}

.captcha-error {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

#id_text {
    resize: none;
}