@import url('/static/custom_users/css/custom_users.css');

html, body, main {
    height: 100%;
}

/* header */

#user-dropdown-menu {
    width: 100%;
}

/* end header */

/* Index Page */

section[id='index'] {
    height: 100%;
    background: url('../texture/white_wood_texture.avif');
    position: relative;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

img[alt='pen'] {
    height: 500px;
    position: absolute;
    right: -30%;
    top: 40%;
    transform: rotate(-180deg);
    z-index: -1;
}

/* form letter */

.form-letter {
    position: relative;
    perspective: 1000px;
    top: 20%;
    min-width: 935px;
    height: 40%;
    z-index: 1000;
}

.letter-back-side {
    transform: rotateX(-180deg);
}

.letter-front-side,
.letter-back-side {
    position: absolute;
    width: 100%;
    padding: 15px;
    backface-visibility: hidden;
    transition: all 0.5s ease-in;
    background: #fff;
    border: 16px solid transparent;
    border-image: 16 repeating-linear-gradient(-45deg,
    red 0, red 1em,
    transparent 0, transparent 2em,
    #58a 0, #58a 3em,
    transparent 0, transparent 4em);

}

.see {
    transform: rotateX(0deg) !important;
}

.turn-back {
    transform: rotateX(180deg);
}

.turn-front {
    transform: rotateX(-180deg);
}

.captcha-error {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.error-feedback {
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.error-feedback-right {
    margin-top: 10px !important;
    margin-left: 1rem;
    align-items: center;
}

#id_text {
    resize: none;
    height: 400px;
}

#id_send_date {
    max-width: 185px;
}

#id_address {
    max-width: 450px;
}

/* end form */

/* end Index Page */

@media (min-width: 1366px) and (max-width: 1400px) {
    .form-letter {
        min-width: 825px;
        top: 15%;
    }

    img[alt='pen'] {
        right: -35%;
        top: 45%;
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .form-letter {
        min-width: 750px;
        top: 15%;
    }

    img[alt='pen'] {
        right: -35%;
        top: 45%;
    }
}